* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
h1{
    margin: 10px;
    padding: 10px;
}
.input-container{
    margin: 10px;
    padding: 10px;
}
#label-1, #label-2 {
    font-size: large;
    font-weight: 800;
    padding: 5px;
}
.display-p1, .display-p2{
    margin: 10px;
    padding:10px;
}
.container {
    border: 4px solid #2320d7;
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    'one two three'
    'four five six'
    'seven eight nine'
    ;
}

.container > div {
    border: 4px solid #2320d7;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #afaef3;
    font-size: x-large;
    color: #2320d7;
}

.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
}
.four {
    grid-area: four;
}
.five {
    grid-area: five;
}
.six {
    grid-area: six;
}
.seven {
    grid-area: seven;
}
.eight {
    grid-area: eight;
}
.nine {
    grid-area: nine;
}

.reset, .btn{
    background-color: #2320d7;
    margin: 5px;
    color: #fff;
    padding: 5px;
    font-size: medium;
}
.input {
    margin-top: 10px;
    padding: 5px;
}

.player-container {
    display: flex;
    justify-content: center;
}
.player-container > div {
    padding: 5px;

}
.winner {
    font-size: x-large;
    color: #2320d7
}