* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.container {
    border: 3px solid blue;
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    'one two three'
    'four five six'
    'seven eight nine'
    ;
}

.container > div {
    border: 3px solid #2320d7;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #afaef3;
    font-size: 40px;
    color: #2320d7;
}

.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
}
.four {
    grid-area: four;
}
.five {
    grid-area: five;
}
.six {
    grid-area: six;
}
.seven {
    grid-area: seven;
}
.eight {
    grid-area: eight;
}
.nine {
    grid-area: nine;
}

.reset{
    background-color: #2320d7;
    margin: 10px;
    color: #fff;
    padding: 5px;
    font-size: medium;
}
